body {
    margin: 0px;
    padding: 0px;
}

header {
    background-color: black;
    display: flex;
    width: 100%;
    height: 150px;
    justify-content: center;
    align-items: center;
}

:root {
    --fuente1:  'Patrick Hand', cursive;
    --fuente2: 'Slabo 27px', serif;
}

.menu {
    display: flex;
    list-style: none;
}

.menu a {
    color: white;
    text-decoration: none;
    font-size: 17px;
    margin: 0px 70px;
}

.menu a:hover {
    color: gold;
    transition: 350ms;
}

.imagen {
    height: 115px;
    width: 115px;
    align-items: flex-start;
}

.ima {
    height: 200px;
    width: 200px;
}

.contenedor {
    display: flex;
    align-items: center;
    margin-top: 100px;
}

.tarjeta {
    width: 250px;
    height: 320px;
    background-color: black;
    border-radius: 25px;
    padding: 50px;
    border: 12px solid gold;
    cursor: pointer;
    flex-wrap: wrap;
    color: white;
}

.tarjeta img {
    padding-left: 30px;
    width: 90px;
}

.tarjeta p {
    text-align: justify;
    margin-bottom: 50px;
    font-family: var(--fuente2);
}

.title {
    text-align: center;
    margin-top: 100px;
    font-family: var(--fuente1);
}